.carousel.spacer-medium
  .container
    .row
      .col-md-12
        h2.header2.size-headers--large.color-master.text-center
          strong Mais agilidade menos gás carbônico
      .col-md-4
        .controle
          p.color-master.Aligner-item--top: i: strong -Nossos bike boys estão esperando pela sua chamada ! Com o preços mais acessíveis ao de mercado, nossos serviços são ideais para a sua empresa que quer driblar a crise, além de ajudar o meio ambiente evitando o acúmulo de gás carbônico na atmosfera.
          a.Aligner-item.btn.btn-block.btn-lg.btn-position.btn-ecoexpress.links-ecoexpress(href='#contatos') 
            span.glyphicon.glyphicon-ok-sign
            |  SOLICITE UM ORÇAMENTO
      .col-md-8
        #carousel-example-generic.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators.hidden-xs
            li.active(data-target='#carousel-example-generic', data-slide-to='0')
            li(data-target='#carousel-example-generic', data-slide-to='1')
            li(data-target='#carousel-example-generic', data-slide-to='2')
            li(data-target='#carousel-example-generic', data-slide-to='3')
            li(data-target='#carousel-example-generic', data-slide-to='4')
            li(data-target='#carousel-example-generic', data-slide-to='5')
          // Wrapper for slides
          .carousel-inner(role='listbox')
            .item.active
              img.img-responsive(src='images/fotos/editado/06.jpg', alt='Imagem dos ciclistas em frente ao congresso nacional')
            .item
              img.img-responsive(src='images/fotos/editado/02.jpg', alt='Imagem dos ciclistas em frente ao congresso nacional')
            .item
              img.img-responsive(src='images/fotos/editado/03.jpg', alt='Imagem dos ciclistas em frente ao congresso nacional')
            .item
              img.img-responsive(src='images/fotos/editado/04.jpg', alt='Imagem dos ciclistas em frente ao congresso nacional')
            .item
              img.img-responsive(src='images/fotos/editado/05.jpg', alt='Imagem dos ciclistas em frente ao congresso nacional')
            .item
              img.img-responsive(src='images/fotos/editado/01.jpg', alt='Imagem dos ciclistas em frente ao congresso nacional')


          // Controls
          a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
          a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
