.contatos
  .container
    .row
      .col-md-12
        h2.text-center CONTATOS
      .col-md-6
        p Envie sua mensagem ou solicite seu orçamento
        form(action='http://form.ultramail.com.br/', method='POST')
          .form-group
            label(for='email') Endereço de E-mail
            input#email.form-control(type='email', name="email" placeholder='nome@provedor.com.br')
          .form-group
            label(for='nome') Nome
            input#nome.form-control(type='text', name="nome" placeholder='Nome')
          .form-group
            label(for='assunto') Assunto
            input#assunto.form-control(type='text', name="assunto" placeholder='Assunto')
          .form-group
            label(for='mensagem') Mensagem
            textarea#mensagem.form-control(rows="3", name="mensagem")
          button.btn.btn-default(type='submit', value='Eviar') Enviar

          input(type='hidden', name='key', value='eJwBzAAz/+CIvS8IbJiQhXh5Zh8CahEaGGMwnqU86MKJZvV60TyxRm9ybVVsdHJhTWFpbHC5Sj52wa9m+Hw30G2I2nM4O+9beBRjexcOd7kEQ1piiIfUDVnpKokPIgPXP0LjtCMc0dObct17TMFoepp/qsADMPtKn65zYjnEWE0CUABaHRCifPZc/gl5xLcig+1xesujevomhnwkWxA9sqjTBxFb/gU80O2r4UHl6QBO7+1ziRekFV4/KnG3OtO6h74cO8JV65uI5PcbBzsc42Cav/TLXvQ=')
          input(type='hidden', name='redirect', value='http://braconengenharia.com.br/contatos-enviado.html')
      .col-md-6
        p Localização
        p
          strong Endereço:
          | xxxx
          strong Telefone:
          | xxxx
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10858.20204862197!2d-47.905235065286234!3d-15.806371448671992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x005a4b9a7880ec7b!2sCondom%C3%ADnio+do+Edif%C3%ADcio+Anhanguera!5e0!3m2!1spt-BR!2sbr!4v1456187348768', height='450', frameborder='0', style='border:0; width:100%', allowfullscreen='')