.contatos.spacer-large
  .container
    .row
      .col-md-12
        h2#contatos.text-center.header2.size-headers--large.color-master: strong CONTATOS
      .col-md-6
        p.color-gray: strong Envie sua mensagem ou solicite seu orçamento
        form(action='http://form.ultramail.com.br/', method='POST')
          .form-group
            label(for='email') Endereço de E-mail
            input#email.form-control(type='email', name="email" placeholder='nome@provedor.com.br' required)
          .form-group
            label(for='nome') Nome
            input#nome.form-control(type='text', name="nome" placeholder='Nome' required)
          .form-group
            label(for='assunto') Assunto
            input#assunto.form-control(type='text', name="assunto" placeholder='Assunto')
          .form-group
            label(for='mensagem') Mensagem
            textarea#mensagem.form-control(rows="3", name="mensagem" required)
          button.btn.btn-default(type='submit', value='Eviar') Enviar

          input(type='hidden', name='key', value='eJwBzgAx/yS6om07NtWgUVGSwc1hfBDnO/L0fP45gjjNivN/XXS2Rm9ybVVsdHJhTWFpbFhjPjFAmyXTdBtFtoMg6iU13yuGZTZ8diR6SdZnsgnehgZy4AaB0njtGAT5fmcfmrTq7b0G3b5nyeFx4MiCn02Eww6b+6wzahrs0GA+SeZzxpV11GIuxrTOiQ/XH1mD7fdqQFYEDnnNFyPZeIQRq3impmWfly1SyiW2dKz3DiFVIBnTLNAdJcKi4liHgqrXyn55LAP24Q2NB2a1rbiBcgf+tBNlJg==')
          input(type='hidden', name='redirect', value='http://ecoexpressbr.com.br/PaginaDeResposta.html')
      .col-md-6
        p.color-gray: strong Localização
        p.color-gray
          strong Telefone:
          |  3028-0494
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10858.20204862197!2d-47.905235065286234!3d-15.806371448671992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x005a4b9a7880ec7b!2sCondom%C3%ADnio+do+Edif%C3%ADcio+Anhanguera!5e0!3m2!1spt-BR!2sbr!4v1456187348768', height='450', frameborder='0', style='border:0; width:100%', allowfullscreen='')