.container
  .row
    .col-md-12
      h2#ecoexpress.header2.size-headers--large.color-master.text-center 
        strong ECO EXPRESS
.ecoexpress
  .container
    .bike-bg
      .row
        .col-md-12
          h3.header3.size-headers--medium.color-gray 
            strong O que fazemos?
            br
            small Resolvemos o seu problema de logística urbana.
          p.text-center.color-gray  Com o objetivo de demonstrar resultados do uso desse mecanismo, este trabalho traz reflexões acercadas relações entre ações sustentáveis e sucesso das organizações e satisfação do consumidor, demonstrando que a preocupação com o meio ambiente, materializada em ações legais e politicamente corretas e ambientalmente saudáveis, traz resultados positivos, não só na qualidade dos serviços oferecidos, como também na relação empresa/sociedade
        .col-md-4
          .row
            .media
              .media-left
                a(href='#')
                  img.media-object(src='images/recycle.svg', alt='Imagem ecopreservação')
              .media-body
                h4.media-heading.color-master.size-xlarge Ciclo de energia pura e agilidade urbana.
        .col-md-4
          .row
            .media
              .media-left
                a(href='#')
                  img.media-object(src='images/ecogas.svg', alt='ECOGAS tirando o CO2 das ruas')
              .media-body
                h4.media-heading.color-master.size-xlarge Evitando o dióxido de carbono. 
        .col-md-4
.map.spacer-medium
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7678.296733651102!2d-47.894400830730994!3d-15.79612893250533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a3ae664aa8e95%3A0x637cb8e49cba5bea!2sSetor+Comercial+Sul+-+Bras%C3%ADlia%2C+DF!5e0!3m2!1spt-BR!2sbr!4v1463421525526', height='200', frameborder='0', style='border:0; width:100%', allowfullscreen='')

