.container
  .row
    .col-md-12
      h2.header2.text-center ECO EXPRESS
.ecoexpress
  .container
    .bike-bg
      .row
        .col-md-12
          h3.header3 O que fazemos?
            br
            small.sub-title Resolvemos o seu problema de logística urbana.
          p.text-center Com o objetivo de demonstrar resultados do uso desse mecanismo, este trabalho traz reflexões acerca das relações entre ações sustentáveis e sucesso das organizações e  satisfação do consumidor, demonstrando que a preocupação com o meio ambiente, materializada em ações legais e  politicamente corretas e ambientalmente saudáveis, traz resultados positivos, não só na qualidade dos produtos  oferecidos, como também na relação empresa/sociedade.
        .col-md-3
          .row
            .media
              .media-left
                a(href='#')
                  img.media-object(src='images/recycle.svg', alt='Imagem ecopreservação')
              .media-body
                h4.media-heading Media heading
                |     ...
        .col-md-3
          .row
            .media
              .media-left
                a(href='#')
                  img.media-object(src='images/ecogas.svg', alt='ECOGAS tirando o CO2 das ruas')
              .media-body
                h4.media-heading Media heading
                |     ...
        .col-md-6
.map
  | mapa
