footer
  .container
    .row
      .col-md-4
        h4 Redes Sociais
      .col-md-4.text-center
        img(src='img/logo-footer.svg' alt='Logo Rodapé')
        p ECOEXPRESS
          br
          small TRANSPORTES BIKE PEQUENOS VOLUMES E DOCUMENTOS
      .col-md-4
.sub-footer
  .container
    .col-md-4

    .col-md-4.text-center
      small © Copyright 2016 - Todos os direitos reservados  
      a(href='#') http://www.ecoexpressbr.com.br
    .col-md-4
      small 
        | Designed by 
        a(href='http://www.carlosvz.com') carlosvz