footer.footer 
  .container
    .row
      .col-md-4
        p
        ul.list-unstyled.list-inline
          li
            a(href='https://www.facebook.com/ecoexpressbr')
              img(src='images/facebook.jpg' alt='Facebook')
          li.hide
            a(href='#')
              img(src='images/twitter.jpg' alt='Twitter')
        p: strong A ECO EXPRESS está nas redes sociais onde você também pode solicitar nossos serviços.
      .col-md-4.text-center
        p
        img(src='images/logo-2.svg' alt='Logo Rodapé')
        p.size-medium.color-master.margin-off: strong ECOEXPRESS
        p.size-small TRANSPORTES BIKE PEQUENOS VOLUMES E DOCUMENTOS
      .col-md-4
.sub-footer
  .container
    .row
      .col-md-2

      .col-md-8.text-center
        small © Copyright 2016 - Todos os direitos reservados 
          a(href='#') http://www.ecoexpressbr.com.br
      .col-md-2.text-right
        small 
          | Designed by 
          a(href='http://www.carlosvz.com') carlosvz



// Modal
#ciclista.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ciclistaLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#ciclistaLabel.modal-title Corrida Avulsa
      .modal-body
        table.table.table-hover
          caption: strong Modelos de pagamento
          tbody
            tr
              th Asa Norte, Asa Sul
              td.col-md-3 R$13,00
            tr
              th Esplanada dos Ministérios, STN
              td.col-md-3 R$14,00
            tr
              th SAI, SOF Sul/ Norte, SAAN, Aeroporto, Vila Planalto
              td.col-md-3 R$17,00
            tr
              th Núcleo Bandeirantes, Candangolândia, Guará, Lago Sul após a QI-13 Lago Norte após a QI-6
              td.col-md-3 R$19,00
            tr
              th Park Way, Águas Claras, Vicente Pires, Taguatingua, Riacho Fundo I, Condomínios Lago Sul
              td.col-md-3 R$ 25,00
            tr
              th Riacho Fundo II, Samambaia, Ceilândia
              td.col-md-3 R$ 35,00

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Fechar
