footer.footer 
  .container
    .row
      .col-md-4
        h4 Redes Sociais
        ul.list-unstyled.list-inline
          li
            a(href='#')
              img(src='images/facebook.jpg' alt='Facebook')
          li
            a(href='#')
              img(src='images/twitter.jpg' alt='Twitter')
      .col-md-4.text-center
        p
        img(src='images/logo.svg' alt='Logo Rodapé')
        p.size-medium.color-master.margin-off: strong ECOEXPRESS
        p.size-small TRANSPORTES BIKE PEQUENOS VOLUMES E DOCUMENTOS
      .col-md-4
.sub-footer
  .container
    .row
      .col-md-2

      .col-md-8.text-center
        small © Copyright 2016 - Todos os direitos reservados 
          a(href='#') http://www.ecoexpressbr.com.br
      .col-md-2.text-right
        small 
          | Designed by 
          a(href='http://www.carlosvz.com') carlosvz



// Modal
#ciclista.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ciclistaLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#ciclistaLabel.modal-title Ciclista Integral
      .modal-body
        table.table.table-hover
          caption Modelos de pagamento
          thead
            tr
              th #
              th First Name
              th Last Name
              th Username
          tbody
            tr
              th(scope='row') 1
              td Mark
              td Otto
              td @mdo
            tr
              th(scope='row') 2
              td Jacob
              td Thornton
              td @fat
            tr
              th(scope='row') 3
              td Larry
              td the Bird
              td @twitter
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Fechar
