.container
  .row
    .col-md-12
      h2.text-center
        | SERVIÇOS
      p: i A Eco Express Courier oferece três tipos de serviços que possibilitam uma redução de custos em cerca de 30%, sem deixar de lado a qualidade e a rapidez e podendo ser pagos de maneira pré-paga, à vista ou posteriormente à entrega. Descubra abaixo qual é o ideal para você: 
.servicos
  .container
    .row
      .col-md-4
        | a
      .col-md-4
        | b
      .col-md-4
        | c