.container
  .row
    .col-md-12
      h2.text-center.header2.size-headers--large.color-master
        strong SERVIÇOS
      p.color-gray: i: strong A Eco Express Courier oferece três tipos de serviços que possibilitam uma redução de custos em cerca de 30%, sem deixar de lado a qualidade e a rapidez e podendo ser pagos de maneira pré-paga, à vista ou posteriormente à entrega. Descubra abaixo qual é o ideal para você: 
.servicos.spacer-medium
  .container
    .row
      .col-md-4
        .box.text-center
          h3 Ciclista Integral
          .circle
            img(src='images/headbiker.svg' alt='imagem ilustrativa Ciclista')
          p.text-justify Além da facilidade de ter um de nossos funcionários à disposição para a realização de corridas durante todo o dia, existe a vantagem de ter alguém de confiança, que conhece e consegue se adaptar à rotina da sua empresa.
          a.btn.btn-success.btn-sm Ver Preços 
          a.btn.btn-success.btn-sm Orçamento
      .col-md-4
        .box.text-center
          h3 Corrida Avulsa
          .circle
            img(src='images/hands.svg' alt='Imagem ilustrativa mãos apertando')
          p.text-justify Pessoas ou empresas que precisam fazer entregas com menor frequência, ou não programadas, podem ligar e solicitar um dos nossos bikers para uma corrida esporádica, realizada com qualidade e agilidade. 

          a.btn.btn-success.btn-sm Ver Preços 
          a.btn.btn-success.btn-sm Orçamento
      .col-md-4
        .box.text-center
          h3 Campanhas
          .circle
            img(src='images/map.svg' alt='Imagem ilustrativa Mapa com localização de um biker')
          p.text-justify Você tem um projeto e precisa de uma solução em logística urbana, a EcoBike Courier é a melhor opção. Conheça os programa Bike to Work e nosso mais novo projeto de logística reversa. Clique em Ver preços logo abaixo. &nbsp;
          a.btn.btn-success.btn-sm Ver Preços 
          a.btn.btn-success.btn-sm Orçamento