.container
  .row
    .col-md-12
      h2#servicos.text-center.header2.size-headers--large.color-master
        strong SERVIÇOS
      p.color-gray: i: strong A Eco Express oferece três tipos de serviços que possibilitam uma redução de custos em cerca de 30%, sem deixar de lado a qualidade e a rapidez e podendo ser pagos de maneira pré-paga, à vista ou posteriormente à entrega. Nossos orçamentos variam de acordo com a necessidade de sua empresa. Solicite um agora e descubra qual a melhor opção para você:
.servicos.spacer-medium
  .container
    .row
      .col-md-4
        .box.text-center
          h3 Ciclista Integral
          .circle
            img(src='images/headbiker.svg' alt='imagem ilustrativa Ciclista')
          p.text-justify Visando sua comodidade, disponibilizamos exclusivamente um bike-boy de confiança, que se adapta as necessidades da sua empresa, sendo em horário integral ou meio período. Solicite um orçamento agora mesmo e veja qual a melhor opção para você.
          a.btn.btn-success.btn-sm.hide Ver Preços 
          a(href='#contatos').btn.btn-success.btn-sm Orçamento
      .col-md-4
        .box.text-center
          h3 Corrida Avulsa
          .circle
            img(src='images/hands.svg' alt='Imagem ilustrativa mãos apertando')
          p.text-justify Essa opção é para você, pessoa ou empresa, que não tem o costume de fazer entregas com muita freqüência. Ligando ou solicitando um orçamento, você pode chamar um dos nossos bike-boys para realizar um entrega esporádica de forma eficaz e segura. 

          
          a(type='button', data-toggle='modal', data-target='#ciclista').btn.btn-success.btn-sm Ver Preços 
          a(href='#contatos').btn.btn-success.btn-sm Orçamento
      .col-md-4
        .box.text-center
          h3 Campanhas
          .circle
            img(src='images/map.svg' alt='Imagem ilustrativa Mapa com localização de um biker')
          p.text-justify Se você tem um projeto e precisa de uma solução em logística urbana, nós da Eco Express somos a melhor opção. Fazemos entregas de convites de casamentos, ingressos e transportamos com qualidade e segurança suas mercadorias. Faça seu orçamento agora mesmo.
          a.btn.btn-success.btn-sm.hide Ver Preços 
          a(href='#contatos').btn.btn-success.btn-sm Orçamento

