.logo-bike.visible-lg
  img(src='images/logo_bike.svg')
.topo
  .container 
    .row.hidden-xs
      .col-md-6
        .media
          .media-left
            a(href='http://www.ecoexpressbr.com.br')
              img.media-object(src='images/logo-2.svg' alt='Logo')
          .media-body
            h1.header1.color-master.size-headers--small 
              strong ECO EXPRESS
            p.color-master 
              strong TRANSPORTES BIKE PEQUENOS VOLUMES E DOCUMENTOS
      .col-md-6.right
        p.sub-title--sec.font-trajan.color-white.size-xxlarge: strong SERVIÇO SUSTENTÁVEL
        p.color-master.font-trajan.size-large
          strong
            span.glyphicon.glyphicon-earphone 
            |  CHAME UM BIKER (61) 3028-0494
    .row.visible-xs
      .col-md-6
        .media
          .media-left
            a(href='http://www.ecoexpressbr.com.br')
              img.media-object(src='images/logo-2.svg' alt='Logo' , style='margin-top:20px;')
          .media-body
            h1.header1.color-master.size-xlarge
              strong ECO EXPRESS
            p.color-master 
              small TRANSPORTES BIKE PEQUENOS VOLUMES E DOCUMENTOS
      .col-md-6.right
        p.sub-title--sec.font-trajan.color-white.size-large: strong SERVIÇO SUSTENTÁVEL
        p.color-master.font-trajan.size-medium
          strong
            span.glyphicon.glyphicon-earphone 
            |  CHAME UM BIKER (61) 3028-0494
.menu
  nav.navbar.nav-eco
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a.links-ecoexpress(href='http://www.ecoexpressbr.com.br') 
              strong HOME
          li
            a.links-ecoexpress(href='#ecoexpress') 
              strong ECO EXPRESS
          li
            a.links-ecoexpress(href='#servicos') 
              strong SERVIÇOS
          li
            a.links-ecoexpress(href='#contatos') 
              strong CONTATOS
        .pull-right.timer
          span.glyphicon.glyphicon-time
          |  HORÁRIO DE SEGUNDA A SEXTA 08:00 ÀS 17:00 
      // /.nav-collapse