.logo-bike
  img(src='images/logo_bike.svg')
.topo
  .container 
    .row
      .col-md-6
        .media
          .media-left
            a(href='#')
              img.media-object(src='images/logo.svg' alt='Logo')
          .media-body
            h1.header1 ECO EXPRESS
            p.sub-title TRANSPORTES BIKE PEQUENOS VOLUMES E DOCUMENTOS
      .col-md-6.text-right
        p.sub-title--sec SERVIÇO SUSTENTÁVEL
        p.sub-title
          span.glyphicon.glyphicon-earphone 
          |  CHAME UM BIKER (61) 9999 - 9999
.menu
  nav.navbar.nav-eco
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a.links-ecoexpress(href='#') 
              strong HOME
          li
            a.links-ecoexpress(href='#about') 
              strong ECO EXPRESS
          li
            a.links-ecoexpress(href='#contact') 
              strong SERVIÇOS
          li
            a.links-ecoexpress(href='#') 
              strong CONTATOS
        .pull-right.timer
          | HORÁRIO DE SEGUNDA A SEXTA 08:00 ÀS 18:00 
      // /.nav-collapse