////////////////// COLORS
@master-color:#3a4d06;
@primary-color:#afcc60;
@gray-color:#999;
@white-color:#fff;
////////////////// FONT-SIZE
@size-p--small:12px;
@size-p--medium:16px;
@size-p--large:18px;
////////////////// h1,h2,h3,h4
@size-h1:28px;
@size-h2:42px;
@size-h3:36px;



.color-single {color:;}
.color-master {color:@master-color;}
.color-primary {color:@primary-color;}
.color-gray {color:@gray-color;}
.color-white {color:@white-color;}


.size-small {font-size: @size-p--small}
.size-medium {font-size: @size-p--medium}
.size-large {font-size: @size-p--large}