.controle {
  min-height: 284px;
  position: relative;
  float: left;
}
.btn-position {
  position:absolute;
  bottom: 0;
}
.btn-ecoexpress {
  padding: 20px;
  border:1px solid @master-color;
  background-color: @primary-color;
}
.carousel-indicators {
  top:10px;
}
@media (min-width:992px) and (max-width:1199px) {
  .controle {
    min-height: 234px;
  }
}
@media (min-width:320px) and (max-width:@screen-sm-max) {
  .controle {
    float: inherit;
  }
}