body {
  font-family: 'Lucida Grande',sans-serif;
}
@font-default:Trajan Pro Bold;
@font-face {
font-family: 'Trajan Pro Bold';
font-style: normal;
font-weight: normal;
src: local('fonts/Trajan Pro Bold'), url('fonts/trajan pro bold.woff') format('woff');
}
.font-trajan {
  font-family: @font-default;
}
.sub-title--sec {
  margin-top:20px;
  margin-bottom: 0;
}
.timer {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: -15px;
}
.header1 {
  margin-bottom: 0;
}
.header2 {
  margin-bottom: 15px;
  margin-top: 0;
}
.header3 {
}